@import "index";

section.head {
  padding: 10px;
  background-color: $red-girls;
  img {
    height: 100px;
  }
}
.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)),image-url('coding.jpg');
  background-size: cover;
}
.is-outlined {
  background-color:transparent;
  color: #fff;
}
.hero-cta {
  padding: 30px;
  background-color: #ffdd57;
  p.title {
    font-size: 1.5rem;
    a {
      color: #000;
      text-decoration: underline;
    }
  }
}
.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color: #95A5A6;
}
// .section.main {
//   background-color: #F0F0F0;
// }
