@import "index";

section.head {
  padding: 10px;
  background-color: $red-girls;
  img {
    height: 100px;
  }
}

.title {
  color: #DD390F;
}

.subtitle {
  color: #DF7F6F;
  padding-top: 5px;
}

.banner {
  margin: 30px;
}

.danger {
  color: #DD390F
}

a {
  color: #DD390F;
}

a:hover {
  color: #FFDD58;
}

.banner-content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-content-text p {
  color: #DD5D47;
  font-size: 1.25rem;
}

.banner-content-text p span {
  font-size: 1.5rem;
  color: #DD390F;
  // border: 2px solid #DD390F;
  padding: 10px 15px;
  border-radius: 3px;
}

.subscribe-btn:hover {
    background-color: grey;
    border-color: grey;
    cursor: not-allowed;
}

.event-details {
  border: 2px solid #DD390D;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.event-details p {
  font-size: 20px;
  color: #E1A195;
  text-align: center;
}
