section.head
  .container.has-text-centered
    = link_to "/"
      = image_tag "railsgirls-nantes.png"
.columns.banner
  .column
    .banner-content-text.has-text-centered
      h1.title.is-2
        | Apprenez à construire le web&nbsp;!
      h2.subtitle.is-5
        | 1 journée = 1 application web avec Ruby on Rails
      / p
      /   = link_to 'inscriptions.html', class: 'button is-outlined is-warning is-large'
      /     span
      /       | Inscription
      p
        = link_to 'inscriptions', class: 'is-warning is-large', disabled: true
          span.subscribe-btn
            | S'inscrire
      br
      p
        | 🗓️ Prochain évènement du 25 au 26 septembre 2020
        br
        | à l'occasion de la
        strong
        =< link_to 'Nantes Digital Week 🗓️', 'http://www.nantesdigitalweek.com/', target: '_blank'

  .column
    .picture-card
      = image_tag "photo1.jpeg"

.columns.is-mobile.is-centered
  .column.is-11.event-details
    p
      | Dans le cadre de la Nantes Digital Week, nous avons le plaisir d'organiser une journée Rails Girls (1 jour pour apprendre à coder) en partenariat avec Le Wagon et 1Kubator.
      br
      | Cette journée, dans la lignée des Rails Girls créés en Finlande en 2010, est avant tout un événement au service de la mixité dans les métiers du développement informatique. C’est donc un rendez-vous ouvert à tous : aux femmes, aux hommes, aux autres, aux débutante(s), curieuses(eux), novices de tous horizons, en donnant la priorité aux femmes et aux débutants. Tout ce dont vous avez besoin, c’est d’un ordinateur et d’un soupçon d’imagination !
      br
      | Au programme : découverte des bases de la programmation, des ateliers pour apprendre à coder une web app dans les règles de l’art, des rencontres passionnantes avec des acteurs du numérique et des pros du développement, le tout dans une ambiance joyeuse et décontractée.


= partial 'views/sponsors'

= partial 'views/programme'

= partial 'layouts/footer'

= javascript_include_tag 'application'
